html {
  scroll-behavior: smooth;
}

#root {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  background-image: url("./assets/embossed-diamond.webp");
}

.card img {
  height: 300px;
  object-fit: cover;
}
